.footer {
    text-align: center;
}

.footer, .header{
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #1F2937;
}

.logo-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
