.footer {
    text-align: center;
}

.footer, .header{
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #1F2937;
}

.hero{
    display: flex;
}

.hero-content, .image{
    flex: 1;
}

.two_one {
    height: 400px;
    width: auto;
}

.logo-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item .image {
    width: 150px;
    height: auto;
}
